{% extends 'index.html' %}


{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Choose your images</h2>

      <form method="POST" action="/" enctype="multipart/form-data">

          <fieldset class="form-field">
              {{ form.base_image.label }}
              {{ form.base_image }}
              {% if form.base_image.errors %}
                <ul class="errors">{% for error in form.base_image.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
          </fieldset>

          <fieldset class="form-field">
              {{ form.compared_image.label }}
              {{ form.compared_image }}
              {% if form.compared_image.errors %}
                <ul class="errors">{% for error in form.compared_image.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
          </fieldset>
          {{ form.csrf_token }}

          {{ form.submit }}

      </form>
    </div>
    <div class="column">
        <img src="{{ img1 }}" alt="base">
        <img src="{{ img2 }}" alt="compared">
    </div>

{% endblock %}