{% extends 'index.html' %}


{% block content %}
    <div class="one"><h1>EASY SCAN DIFF</h1></div>
    <script src="../static/js/image_proc.js"></script>
    <div class="column" style="display: flex; align-items: center; justify-content: center; margin-top: 10px">
        <form name = "image_inf">
            <input type = "text" name = "im1" size = "40" />
            <input type = "reset" value="Clean" size = "25" />
            <input type = "text" name = "im2" size = "40" />
        </form>
    </div>
    <div class="column" style="display: flex; align-items: center; justify-content: center">
        <map name="map1">
            {% for inf1 in link_d_1 %}
                <area coords="{{ inf1[2] }},{{ inf1[3] }},{{ inf1[4] }},{{ inf1[5] }}"
                target = "_self"
                onclick = "showText('{{ inf1[0] }}', '1', '{{ inf1[1] }}')"/>
            {% endfor %}
        </map>
        <img src="{{ img1 }}" alt="base" usemap="#map1" style="image-rendering: high-quality" onclick="showTextBoth(' ')">

        <map name="map2">
            {% for inf2 in link_d_2 %}
                <area coords="{{ inf2[2] }},{{ inf2[3] }},{{ inf2[4] }},{{ inf2[5] }}"
                target = "_self"
                onclick = "showText('{{ inf2[0] }}', '2', '{{ inf2[1] }}')"/>
            {% endfor %}
        </map>
        <img src="{{ img2 }}" alt="compared" usemap="#map2" style="image-rendering: high-quality" onclick="showTextBoth(' ')">
    </div>
    <h1 style="color: cornflowerblue">{{ err }}</h1>

    <div class="form-wrapper" style="margin-left: 10px">
      <h2 class="title">Choose your images</h2>

      <form method="POST" action="" enctype="multipart/form-data" >

          <fieldset class="form-field">
              {{ form.base_image.label }}
              {{ form.base_image }}
              {% if form.base_image.errors %}
                <ul class="errors">{% for error in form.base_image.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
          </fieldset>
          <fieldset class="form-field">
              {{ form.compared_image.label }}
              {{ form.compared_image }}
              {% if form.compared_image.errors %}
                <ul class="errors">{% for error in form.compared_image.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
          </fieldset>
          <fieldset class="form-field">
              {{ form.language.label }}
              {{ form.language }}
              {% if form.language.errors %}
                <ul class="errors">{% for error in form.compared_image.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
          </fieldset>
          {{ form.submit }}
          {{ form.csrf_token }}

      </form>
    </div>

{% endblock %}